body
{
    color: red;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
}
#containter
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 10px solid rgb(47, 26, 228);
    margin: 0 auto;
}

#containter h1

{
    font-size: 20px;
}